{% extends 'base.html' %}
{% load static %}
{% block contect %}
<div class="container py-5" style="max-width: 420px;">
    <h2 class="mb-4 fw-bold text-center">پروفایل من</h2>

    <div class="bg-white p-4 rounded shadow-sm text-center">
        {% if profile.image %}
            <img src="{{ profile.image.url }}" class="rounded-circle mb-3 border" style="width:150px;height:150px;object-fit:cover;">
        {% else %}
            <img src="{% static 'assets/img/images (2).jpg' %}" class="rounded-circle mb-3 border" style="width:150px;height:150px;object-fit:cover;">
        {% endif %}
<form method="POST" action="{% url 'logout' %}" class="ms-2">
    {% csrf_token %}
    <button type="submit" class="btn btn-sm btn-outline-danger">
        Logout
    </button>
</form>

        <h4 class="fw-bold">{{ user.username }}</h4>
        <p class="text-muted">{{ user.email }}</p>
    </div>
</div>
{% endblock %}